<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167872809951-o3ourii9ilof3omgasv9gds8s88t6bj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167872809951-o3ourii9ilof3omgasv9gds8s88t6bj6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167872809951-32alko1t2arnbd3a8p5gagt1skcevc5u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbYhN6BsRNDT1OE7nY628lfpAkufV_qks</string>
	<key>GCM_SENDER_ID</key>
	<string>167872809951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c104a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c104a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167872809951:ios:adbe194bdd6b5a8340526a</string>
</dict>
</plist>